.player-controls {
  display: flex;
  align-items: center;
  gap: 22px;
  width: 296px;
  position: relative;

  .control {
    cursor: pointer;
    fill: #074565;
    position: absolute;

    &:not(.plug):hover {
      fill: rgba(255, 255, 255, 0.5);
    }

    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(2) {
      left: 80px;
    }

    &:nth-child(3) {
      left: 230px;
    }
  }
}
