$purple: #614d92;
$text-purple: #614d98;

@import './breakpoints.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.main {
  max-width: 1920px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.logo {
  position: fixed;
  z-index: 999;
  top: 40px;
  margin-left: 40px;
  // left: 20%;
}

.containerFirst {
  background: $purple;
  height: 100vh;
  padding: 20px;
  position: relative;
  display: flex;
  overflow: hidden;

  @include lg {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .imageContainer {
    width: 780px;
    height: 100%;
    overflow: hidden;
    position: relative;

    @include xl {
      width: 560px;
    }

    @include lg {
      width: 100%;
      height: 367px;
    }
  }

  .image-1 {
    height: 100%;
    min-width: 752px;
    object-fit: cover;

    @include lg {
      min-width: 120%;
    }
  }

  .ellipse {
    position: absolute;
    height: calc(100vh + 350px);
    width: 596px;
    background: $purple;
    top: -175px;
    left: 696px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    transform-origin: 10% 30%;

    @include xl {
      left: 496px;
    }

    @include lg {
      display: none;
    }
  }

  .textContainer {
    color: white;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;

    @include lg {
      margin-top: 30px;
      margin-left: 0;
      align-items: center;
      padding-bottom: 60px;

      &:before {
        content: '';
        position: absolute;
        top: -92px;
        left: -36%;
        width: 170%;
        height: 200%;
        background: $purple;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
      }
    }

    .tag {
      position: absolute;
      top: 0;
      right: -20px;
      width: 115px;

      @include lg {
        top: 0px;
        right: unset;
        left: 240px;
        width: 88px;
      }
    }

    .subContainer {
      max-width: 400px;
      position: relative;

      @include lg {
        max-width: 304px;
      }
    }

    .title {
      font-family: 'Nimbus Sans Novus', Arial;
      text-transform: uppercase;
      font-size: 80px;
      font-weight: 900;
      line-height: 72px;
      margin-bottom: 10px;

      @include lg {
        font-size: 64px;
        line-height: 57.6px;
        max-width: 304px;
      }
    }

    .description {
      font-family: 'Nimbus Sans Novus', Arial;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 35px;

      @include lg {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        margin-bottom: 19px;
      }
    }

    .play-block {
      display: flex;
      gap: 20px;
      align-items: center;

      .play-icon {
        cursor: pointer;
      }

      span {
        font-family: 'Nimbus Sans Novus', Arial;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;
        text-transform: uppercase;
        max-width: 166px;
      }
    }
  }
}

.containerPlug {
  width: 100%;
  height: 50px;
  background-color: $purple;

  @include lg {
    display: none;
  }
}

.containerSecond {
  position: relative;
  z-index: 3;
  display: block;
  width: 100%;
  height: 1100px;
  background: url('/section-2-bg.png') no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;

  @include lg {
    margin-top: 0;
    height: 980px;
  }

  .arrows {
    position: absolute;
    left: 1340px;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .plug {
    height: 798px;
    width: 2000px;
    background: $purple;
    position: absolute;
    left: 1440px;
    top: 0;

    &:after {
      content: '';
      position: absolute;
      left: -306px;
      bottom: -34px;
      width: 306px;
      height: 306px;
      background: url('../images/rectangle.png') no-repeat;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -34px;
      width: 1000px;
      height: 306px;
      background: #f0ffb5;
    }

    @include lg {
      display: none;
    }
  }

  .bg {
    height: 790px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url('../images/subtract-bg-3.png') no-repeat;
    background-position: 0% top;
    background-size: auto 790px;
    z-index: 5;

    @include lg {
      background-image: none;
      background-color: #614d98;
      border-top-right-radius: 130px;
      border-bottom-right-radius: 130px;
      min-height: 378px;
      height: auto;
      left: -40px;
      top: 0;
    }

    .curvedText1 {
      position: absolute;
      bottom: 20px;
      left: 288px;

      @include lg {
        display: none;
      }
    }

    .curvedText2 {
      position: absolute;
      left: 948px;
      top: 10px;
      z-index: 10;

      @include lg {
        display: none;
      }
    }
  }

  .substract-mobile {
    display: none;

    @include lg {
      display: block;
      background: url('../images/Subtract-mini.png') no-repeat;
      left: 0;
      width: 100%;
      height: 260px;
      bottom: 0;

      .text {
        display: block;
        background: url('../images/curved-text-mobile.png') no-repeat;
        height: 100%;
        width: 208px;
        position: relative;
        top: -20px;
        left: 18px;
      }
    }
  }

  .textContainer {
    color: white;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 104px;

    @include lg {
      margin-top: 30px;
      margin-left: 40px;
      align-items: center;
      padding: 20px;
    }

    .subContainer {
      max-width: 455px;
    }

    .title {
      font-family: TT Travels Next;
      font-size: 50px;
      font-weight: 800;
      line-height: 50px;
      text-align: left;
      margin-bottom: 10px;

      @include lg {
        font-size: 28px;
        line-height: 28px;
      }
    }

    .description {
      font-family: Nimbus Sans Novus;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 35px;
      margin-top: 65px;

      @include lg {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        margin-top: 24px;
      }
    }

    .play-block {
      display: flex;
      gap: 20px;
      align-items: center;

      span {
        width: 100px;
        display: block;
        flex: 1;
      }

      .play-icon {
        cursor: pointer;
      }

      span {
        font-family: Nimbus Sans Novus;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        text-transform: uppercase;
        max-width: 166px;
      }
    }
  }
}

.containerThird {
  background-color: #f0ffb5;
  border-top-left-radius: 306px;
  border-bottom-left-radius: 306px;
  position: relative;
  margin-top: -268px;
  z-index: 4;
  width: 100%;
  padding-bottom: 115px;

  @include lg {
    border-radius: unset;
    border-bottom-right-radius: 130px;
    border-top-left-radius: 53px;
    padding-bottom: 40px;
  }

  .radio {
    margin-bottom: 196px;
    display: flex;
    justify-content: center;
    padding-top: 210px;
    position: relative;
    overflow: hidden;

    @include lg {
      padding-top: 0;
      margin-bottom: 20px;
      height: 850px;
    }

    .route {
      position: absolute;
      top: 40%;
      height: 402px;
      width: 3917px;
      background: url('../images/route-3.png') no-repeat;
      background-size: contain;
      left: calc(100% / 2);
      transition: 1s;

      @include lg {
        display: none;
      }
    }

    .route-2 {
      @include lg {
        display: block;
        position: absolute;
        width: 1917px;
        background: url('../images/route-3.png') no-repeat;
        left: calc(100% / 2);
        transition: 1s;
        top: unset;
        bottom: 0;
        height: 200px;
        background-size: auto 200px;
        // transform: translateX(-50%);
      }
    }
  }

  .about {
    margin-left: 118px;
    display: flex;
    gap: 35px;
    color: #614d98;
    padding-right: 94px;
    align-items: center;

    img {
      max-width: 438px;
    }

    @include lg {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 0;
      padding: 20px;

      img {
        width: 200px;
      }
    }

    .description {
      font-family: TT Travels Next;
      font-size: 28px;
      font-weight: 400;
      line-height: 33.6px;
      margin-bottom: 42px;
    }
    .name {
      font-family: Nimbus Sans Novus;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    .name-description {
      font-family: Nimbus Sans Novus;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      width: 316px;
    }
  }
}

.footer {
  background: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

  @include lg {
    flex-direction: column;
    gap: 32px;
    padding-top: 40px;
    height: auto;
  }

  .social {
    display: flex;
    gap: 12px;

    .social-icon {
      cursor: pointer;
      fill: #614d98;

      &:hover {
        fill: #9ec600;
      }
    }
  }

  .rights {
    font-family: Nimbus Sans Novus;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    color: #614d98;
  }
}
