.playerContainer {
  width: 532px;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;

  .player-main {
    overflow: hidden;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    z-index: 10;
    padding-bottom: 30px;
    padding: 18px;
  }

  .cover {
    height: 304px;
    position: relative;
    border-top-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -465px;
      left: -250px;
      width: 1000px;
      height: 500px;
      background-color: inherit;
      border-radius: 50%;
    }
  }

  .counter {
    position: absolute;
    left: 0;
    top: 20px;
    display: flex;
    margin-left: 20px;
    align-items: end;
    color: white;

    .big {
      font-family: TT Travels Next;
      font-size: 26.11px;
      font-weight: 500;
      line-height: 31.33px;
      margin-right: 5px;
    }

    .right {
      font-family: TT Travels Next;
      font-size: 13.05px;
      font-weight: 500;
      line-height: 19.66px;
      opacity: 40%;
    }
  }

  .info {
    position: relative;
    color: white;
    padding-bottom: 30px;

    .time {
      position: absolute;
      top: -40px;
      left: 50%;
      font-family: TT Travels Next;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.2px;
      text-align: center;
      transform: translateX(-50%);
      opacity: 70%;
    }
  }

  .title {
    font-family: TT Travels Next;
    font-size: 42px;
    font-weight: 800;
    line-height: 42px;
    color: white;
    margin-top: 26px;
  }

  .description {
    font-family: Nimbus Sans Novus;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    margin-top: 24px;
  }

  .player-footer {
    background: white;
    height: 111px;
    position: relative;
    top: -35px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    align-items: end;
    padding-bottom: 30px;
    padding-left: 30px;
    transition: 0.3s;
    cursor: pointer;

    .container {
      display: flex;
      gap: 20px;
    }

    span {
      display: block;
      font-family: Nimbus Sans Novus;
      font-size: 16px;
      font-weight: 700;
      line-height: 19.2px;
      text-transform: uppercase;
      color: #614d98;
    }

    &:hover {
      background: #614d98;

      span {
        color: white;
      }

      svg {
        path {
          fill: white;
          stroke: white;
        }
      }
    }
  }
}
